.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.w60{
    width: 60%;
}

.ma{
    margin: auto;
}




h1 {
    color: #fbecc5;
    font-family: "Cinzel", serif;
    font-size: 5rem;
    font-weight: 500;
    margin-left: 5rem;
    margin-right: 5rem;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 1em;
    left: 5%;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 3em !important;
    z-index: 1000;
}

header nav{
    width: 40%;
    padding: 1em 2em;
}

header nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    color: #6b3d24;
    font-size: large;
    font-weight: bold;
}

.logo {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassy {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 20px;
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 1em;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 0.6em 1.2em;
    cursor: pointer;
    border: 1px solid transparent;
    border-color: transparent;
    transition: 0.5s;
}

button:hover {
    border-color: white;
    background-color: rgba(0, 0, 0, 0.4);
    scale: 1.1;
    transition: 0.3s;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button a{
    color: white;
}

button a:hover{
    color: white;
}

#Accueil{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
}

#Accueil button{
    margin-top: 10%;
    margin-bottom: 10%;
}

#Creme{
    background-position: center;
}

#Serum {
    background-position: center;
}

#Creme, #Lotion, #Serum {
    position: relative;
    aspect-ratio: 1/1;
    background-size: cover;
}

#BestSellers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b3d24;
    color: #fbecc5;
}

#BestSellers .glassy {
    padding: 0 3em;
    margin-top: 5em;
    margin-bottom: 5em;
}

#BestSellers h2 {
    color: #fbecc5
}

#BestSellers .col3{
    width: 70%;
    margin: auto;
}

#BestSellers button {
    margin-top: 5em;
    margin-bottom: 5em;
}

.produit{
    transition: 0.5s;
}

.produit:hover{
    scale: 1.03;
    transition: 0.3s;
}

.produit img{
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.produit a {
    color: #fbecc5;
}

.link {
    position: absolute;
    right: 1em;
    top: 1em;
    color: white;
    font-size: large;
    font-weight: bold;
    transition: 0.5s;
}

.link:hover {
    color: #fbecc5;
    text-decoration: underline;
    transition: 0.3s;
}

